

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <div class="overlay">because life matters</div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active" style="background: url(assets/wing.png) no-repeat center 25%; background-size: 100% auto;">
    </div>
    <div class="item" style="background: url(assets/steve.jpg) no-repeat center 7%; background-size: 100% auto;">
    </div>
    <div class="item" style="background: url(assets/kids.jpg) no-repeat center 5%; background-size: 100% auto;">
    </div>
    <div class="item" style="background: url(assets/youth.jpg) no-repeat center 25%; background-size: 100% auto;">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

 <div class="col-xs-12">
    <h2 class="text-center">
    <br />
    <p>
    Lifeline Church
    <br />
    201 E Lime Ave
    <br />
	Monrovia, California
	<br />
	<br />
	Service: Sundays at 9:30am
    </p></h2>
  </div>