

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <div class="overlay">because life matters</div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag 'wing.png' %>
    </div>
    <div class="item">
        <%= image_tag 'steve.jpg' %>
    </div>
    <div class="item">
        <%= image_tag 'kids.jpg' %>
    </div>
    <div class="item">
        <%= image_tag 'youth.jpg' %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

 <div class="col-xs-12">
    <h2 class="text-center">
    <br />
    <p>
    Lifeline Church
    <br />
    201 E Lime Ave
    <br />
	Monrovia, California
	<br />
	<br />
	Service: Sundays at 9:30am
    </p></h2>
  </div>