<!-- notifications -->
<div class="notification">
  <% flash.each do |key, value| %>
    <div>
      <% if notice.present? %>
        <p class="alert alert-info"><%= value %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= value %></p>
      <% end %>
    </div>
  <% end %>
</div>
<!-- .notifications -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
<!--   <div class="overlay">because life matters</div> -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active" style="background: url(assets/wing.png) no-repeat center 25%; background-size: auto 100%;">
    </div>
    <div class="item" style="background: url(assets/steve.jpg) no-repeat center 7%; background-size: 100% auto;">
    </div>
    <div class="item" style="background: url(assets/kids.jpg) no-repeat center 5%; background-size: 100% auto;">
    </div>
    <div class="item" style="background: url(assets/youth.jpg) no-repeat center 25%; background-size: 100% auto;">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="col-xs-12 welcome-message">
  Welcome to Lifeline Church!
</div>
<div class="col-xs-10 col-xs-offset-1 welcome-container">
 <div class="col-sm-12 welcome welcome-left">
    Our service starts every <b>Sunday at 9:30 AM</b>.
    <br />
    <br />
  </div>
  <div class="col-sm-12 welcome welcome-right">
    We are located at:
    <br />
    <b>
    First Indonesian Baptist Church
    <br />
    201 E Lime Ave 
    <br/> 
    Monrovia, California
    </b>
    <br />
  </div>

  <div class="col-sm-12 welcome welcome-testimonial">
    Having second thoughts? Read 
    <b><a data-toggle="modal" href="/testimonial.html" data-target="#testimonialModal">what people say about us</a></b>!
    <br />
  </div>
</div>
    <!-- Modal -->
  <div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-admin">
          <div class="modal-content">
          <!-- /.modal-content -->
          </div>
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
