<h1>March 14, 2017: Website under construction. Please come back in a few weeks!</h1>
 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <center><h2 class="text-center">
    <br /><br />
    <p>
    Lifeline Church Monrovia
    <br />
    201 E Lime Ave
    <br />
	Monrovia, California
	<br />
	<br /><br />
	Service: Sundays 9:30am-10:30am
    </p></h2></center>
  </div>