<div class="col-xs-12 modal-page-container">
  <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-pages-welcome">
    <div class="video-wrap">
      <iframe src="https://player.vimeo.com/video/72022489?title=0&byline=0&portrait=0&autoplay=1" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
    </div>
    	<br class="clear" />
    </div>
</div>