<div class="col-xs-12 modal-page-container">
  <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-pages">
    <h1>Children and Student Ministries</h1>
    <br />
    <%= image_tag 'youth2.jpg' %>
    <br />
    <br />
  	<p>
      At Lifeline you will find a wonderful team ready to care for your children. We offer Sunday School which happens simultaneously with our service at 9:30 AM. Children in preschool through elementary school are welcome to join our Sunday School class. 
  	</p>
    <p>
    Parents with babies are welcome to use our "family room" during the service to be a part of the service, but also provide privacy for little ones.
    </p>
    <p>
    Students junior high and up are encouraged to join the service. There is also a Youth Group for Junior High, High School, and College students (IMPACT Student Ministries) after Lifeline from 11:00-12:30 every Sunday at the Monrovia Community Center.
    </p>
    <br class="clear" />
    </div>
</div>