html {
	height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	flex:1;
}

#footer {
  padding:5px 15px;
  margin-top:5px;
  background-color: rgba(6, 72, 129, .5);
}

.footer-address {
	font-size: 12px;
	text-align: right;
}

.footer-button {
  width: 32px;
  margin: 4px;
}

.footer img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.social img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.social a:hover {
  text-decoration:none;	
}

.social a:focus {
  text-decoration:none;	
}


@media (max-width: 767px) {
  #footer .footer-address {
    margin-top:10px;
    text-align: center;
  }
  #footer .social {
  	text-align: center;
  }

}