@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear:both;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
    z-index: 1;
}

.overlay { 
  position:absolute;
  z-index:12;
  bottom:0%;
  left:0;
  width:100%;
  text-align:center;
  background:rgba(0,0,0, 0.5);
  color:rgba(255,255,255, 0.8);
  font-size: 30px;
  font-size: 3.5vw;
  font-family: "Verdana", sans-serif;
}


.carousel .item {
  height: 55vmin;
}

body {
  background: url('/assets/subtle_white_mini_waves.png');
  padding-top: 50px;
}

.navbar.navbar-default {
  margin: 0;
  background:rgba(6, 72, 129, .5);
  border-radius: 0;
  -moz-border-radius: 0;
}

.navbar { 
  border: 0px solid transparent; 
}

/* 
    http://stackoverflow.com/questions/1891857/how-do-you-stretch-an-image-to-fill-a-div-while-keeping-the-images-aspect-rat
    height: 45vh;
    max-height: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url(/assets/steve.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 25%; */