@import "bootstrap-sprockets";
@import "bootstrap";

.clear {
  clear:both;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
    z-index: 1;
}


.carousel .item {
  height: 55vmin;
}

body {
  background: url('/assets/subtle_white_mini_waves.png');
  padding-top: 50px;
}
.welcome-container {
  padding-top: 20px;
  padding-bottom: 10px;
}

.welcome {
  font-size: 16px;
  padding: 0;
}

.welcome-message {
  font-size: 2.5vw;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.welcome-testimonial {
  padding-top: 35px;  
}

.welcome-right, .welcome-left {
  text-align: center;
}

.navbar.navbar-default {
  margin: 0;
  background:rgba(6, 72, 129, .5);
  border-radius: 0;
  -moz-border-radius: 0;
}

.navbar { 
  border: 0px solid transparent; 
}
.navbar-default .navbar-nav>li>a {
  color: rgb(239, 239, 239);
}

.navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-right {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgb(239, 239, 239);
  font-size: 1.5em;
  text-shadow: 1px 1px black;
}

.nav li.nav-text {
  padding: 15px
}

.navbar-toggle collapsed {
  text-align: left;
}

button.navbar-toggle{
  background-color: transparent;
  border-color: rgb(239, 239, 239);
}

button.navbar-toggle:hover {
  background-color:transparent !important;
  border-color: white 
}

button.navbar-toggle:focus {
  background-color:transparent !important;
  border-color: white 
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(239, 239, 239);
}

.navbar-default div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}

.navbar-left a:hover {
  color:white !important;
}

.modal-content {
  background-color: rgba(255,255,255,0.83);
  border: none;
}

.modal {
  width: 90%; /* desired relative width */
  top: 5%;
  bottom: 5%;
  margin: auto;
  background-color: rgba(255,255,255,0.83);
}

button.close {
  float: left;
  opacity: 1;
  color: #a90000;
  position: fixed;
  margin: 0px -10px;
}

button.close:hover {
  color: red;
}


.modal-pages {
  padding-left: 5%;
  padding-right: 5%;
}

.modal-pages p {
  text-align: justify;
}

.modal-pages h1 {
  font-size: 5vmin;
}

.modal-pages img{
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-pages-welcome {
  padding: 2% 1%;
}

.modal-small {
  width: 70vw; /* desired relative width */
  height: 41vw;
}

p {
  margin-bottom: 1.5em;
}

.hidden { 
  display: none; 
}

p.alert.alert-info {
  margin: 0;
}

p.alert.alert-danger {
  margin: 0;
}

.review-pic {
  padding-right: 0;
  text-align: center;
  font-size: 0.85em;
}

.review-pic img{
  max-width:100%;
  max-height:100%;
}

.input.email.required.contact_email {
  padding-top: 10px;
}

.input.text.required.contact_message {
  padding-top: 10px;
}

@media (max-width: 750px) {
  .review-pic {
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .modal {
    width: 95%;
  }
  .modal-small {
  width: 70vw; /* desired relative width */
  height: 41vw;
  }
  .welcome-right, .welcome-left {
    text-align: left;
  }
  .welcome-message {
  font-size: 20px;
  }

}

@media (min-aspect-ratio: 1600/1000) {
  .carousel .item {
    height: 35vw;
  }
}
